.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-between;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#names {
  display: flex;
}

.left {
  margin-left: 10px;
}

#house {
  margin-left: 18px;
}

#email {
  display: flex;
}

.margin {
  margin-top: 20px;
}

.row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.to-learn {
  display: flex;
}
